// Разрешения

$breakpoint-4k: 2560px;
$breakpoint-2k: 2160px;
$breakpoint-fhd: 1920px;
$breakpoint-hd: 1366px;
$breakpoint-tablet: 1199px;
$breakpoint-mintab: 1100px;
$breakpoint-medium: 991px;
$breakpoint-mobile-iphone: 820px;
$breakpoint-mobile: 767px;
$breakpoint-phone: 576px;
$breakpoint-phone-small: 375px;

// Медиа шаблоны

@media(max-width:2560px) {
  

}  
    
@media(max-width:2160px) {
  

} 

@media(max-width:1920px) {
  

} 

@media(max-width:1366px) {
  

} 

@media(max-width:1199px) {
  

}

@media(max-width:1100px) {
  

}

@media(max-width:991px) {
  

}

@media(max-width:820px) {
  

}

@media(max-width:767px) {
  

}

@media(max-width:576px) {
  

}

@media(max-width:375px) {
  

}